@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Croissant+One&family=Dosis:wght@200&family=Nunito+Sans:opsz@6..12&family=Open+Sans:ital,wght@0,800;1,400&family=Roboto+Mono:wght@100&family=Satisfy&display=swap');

/* Header starts here */
body {
    background-color: #0D1117;
    color : #fff;
}
*{
    font-family: 'Bona Nova', serif;

}
.header, .section{
    margin-left: 3rem;
    margin-right: 3rem;
}
.header{
    display: flex;
    background-color: #232B2B;
    color : #fff;
    justify-items: center;
    border-radius: 10px;
    transform: perspective(800px) rotateX(5deg);
    transition: all 0.5s ease-out;
}
.header:hover{
    transform: rotateX(0);
}
.line{
    position: relative;
}
.line::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    animation: motion 4s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes motion{
    from{
        width: 0;
        border-bottom: 3px solid white;
    }
    to{
        border-bottom: 3px solid white;
        width: 100%;
    }
}
.handles a{
    text-decoration: none;
    margin: 6px;
    color: rgb(71, 71, 228);
}

.info{
    box-sizing: border-box;
    margin-left: 3rem;
    align-self: center;
}
.img{
    width: 300px;
    height: 300px;
    background-image: url('./images/udhav.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 25rem;
}
/* Details start here */
.details{
    margin-top: 2rem;
    background-color: #232B2B;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
}
.about-me, .skills, .edu{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: 1px solid white;
    width: 25vw;
    text-align: center;
    transition: all 0.3s;
}
.skill-names, .tools{
    /* border: 3px solid red; */
    margin-top: -25px;
}
.tools{
    margin-bottom: 2rem;
}
.about-me:hover, .skills:hover, .edu:hover{
    box-shadow: 2px 2px 2px 10px wheat;
    border: 1px solid wheat;
    transform: scale(1.1, 1.1);
    /* transform: scale(1.01, 1.01); */
}
.about-me{
    text-align: center;
    /* animation-name: about; */
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.skill-name{
    display: inline-block;
    /* border: 1px solid #111212;
    background-color: #212626; */
    border-radius: 5px;
    /* border: 1px solid red; */

    background-color: white;
    color: black;
    font-weight: bolder;
    margin-bottom: 0;
}

@keyframes about {
    0%{
        transform: perspective(800px) rotateY(0deg);
    }
    25%{
        transform: perspective(800px) rotateY(5deg);
    }
    50%{
        transform: perspective(800px) rotateY(10deg);
        
    }
    75%{
        
        transform: perspective(800px) rotateY(15deg);
    }
    100%{
        transform: perspective(800px) rotateY(20deg);
    }
}
.skills{
    /* background-color: #D6F9B5; */
    /* height: 4rem; */
}
.edu{
    /* background-color: #F6D3F1; */
    
}
/* Section starts here */
.section{
    background-color: #232B2B;
    color : #fff;
    margin-top: 2rem;
    border-radius: 10px;
    /* transform: perspective(800px) rotateX(5deg); */
}

.head{
    text-align: center;
}

.work{
    margin-left: 3rem;
    margin-right: 3rem;
    /* min-width: 100%; */
}
.project{
    display: flex;
    font-size: 20px;
    gap: 10px;
    /* flex-wrap: wrap; */
}
.project h3{
    color: #3FB950;
    font-weight: bolder;
}
.project-1{
    /* flex-wrap: wrap; */
}
.project-2{
}
.project-3{
}
.left h3{
    text-align: center;
}
.right{
    align-self: center;
}
.img-1{
    width: 550px;
    height: 300px;
    background-image: url('./images/img1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
    border-radius: 10px;
    border: 3px solid white;
    margin-top: 2px;
    transform: perspective(200px) rotateY(5deg) scale(1);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.img-1:hover{
    transform: perspective(800px) rotateY(0deg) scale(1.07);
}
.view-btn{
    border-radius: 10px;
    background-color: #232B2B;
    border: 1px solid white;
    color: #fff;
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 30px;
    text-decoration: none;
    animation-name: sample;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes sample {
    0%{
        background: linear-gradient(rgba(83,115,245, 0.3));
    }
    25%{
        background: linear-gradient(rgba(83,115,245, 0.3), rgba(83,115,245, 0.5));
    }
    50%{
        background: linear-gradient(rgba(83,115,245, 0.3), rgba(83,115,245, 0.5), rgba(83,115,245, 0.7));
    }
    75%{
        background: linear-gradient(rgba(83,115,245, 0.3), rgba(83,115,245, 0.5), rgba(83,115,245, 0.7), rgba(83,115,245, 0.9));
    }
    100%{
        background: linear-gradient(rgba(83,115,245, 0.3), rgba(83,115,245, 0.5), rgba(83,115,245, 0.7), rgba(83,115,245, 0.9), rgba(83,115,245));
    }
}
.view-btn:hover{
    background-color: purple;
}
.view-btn i{
    margin-right: 10px;
}

.img-2{
    width: 550px;
    height: 300px;
    background-image: url('./images/img2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
    border-radius: 10px;
    border: 3px solid white;
    margin-top: 2px;
    transform: perspective(200px) rotateY(-5deg) scale(1);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.img-2:hover{
    transform: perspective(800px) rotateY(0deg) scale(1.07);
}
.img-3{
    width: 550px;
    height: 300px;
    background-image: url('./images/img3.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
    border-radius: 10px;
    border: 3px solid white;
    margin-top: 2px;
    transform: perspective(200px) rotateY(5deg) scale(1);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.img-3:hover{
    transform: perspective(800px) rotateY(0deg) scale(1.07);
}
.img-4{
    width: 550px;
    height: 300px;
    background-image: url('./images/img4.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
    border-radius: 10px;
    border: 3px solid white;
    margin-top: 2px;
    transform: perspective(200px) rotateY(-5deg) scale(1);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.img-4:hover{
    transform: perspective(800px) rotateY(0deg) scale(1.07);
}
.ds .right{
    /* align-self: flex-start; */
    margin-top: 0;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #232B2B;
    color : #fff;
    margin-top: 2rem;
    border-radius: 10px;
}

.connect{
    margin-top: 10px;
}

.connect h2{
    margin-left: 10px;
}

.connect-links a{
    display: inline-block;
    margin-left: 6px;
    margin-right: 4px;
    transition: all 0.1s linear;
}
.connect-links a:hover{
    transform: perspective(100px) scale(1.4, 1.4) translateZ(20px);
}

.linked-in{
    width: 3rem;
    height: 3rem;
    background-image: url('./icons/linked.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.insta{
    width: 3rem;
    height: 3rem;
    background-image: url('./icons/insta.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.github{
    width: 3rem;
    height: 3rem;
    background-image: url('./icons/github.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(100%);
}

.quick-links{
    text-align: center;

}
.quick-links a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    /* margin: 2rem; */
    margin: -0.7rem 2rem 2rem 2rem;
}


/* Responsive styling */
@media screen and (max-width : 950px){
    .header, .section, .details, .footer{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .info{
        margin-left: 1rem;
    }
    .img{
        width: 100vw;
        height: 300px;
        background-image: url('./images/udhav.jpg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin-left: -1rem;
    }
    .details{
        /* width: 100vw; */
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        /* align-items: center; */
    }
    .work{
        /* border: 3px solid cyan; */
        /* justify-content: center; */
        /* margin-top: -3rem; */
        margin-top: -2rem;
    }
    .project{
    }
    .project-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }
    .project-2{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin-top: 0;
        /* margin-top: 0rem; */
    }
    .project-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }
    .project-4{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin-top: 3rem;
    }
    .img-1, .img-2, .img-3, .img-4{
        width: auto;
        height: 300px;
        background-image: url('./images/img3.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;   
        border-radius: 10px;
        border: 3px solid white;
        margin-top: 2px;
        /* background-size: contain; */
    }
    .right ul li{
        text-align: left;   
    }
}
@media screen and (max-width : 630px)
{
    .details{
        flex-direction: column;
        align-items: center;
        /* margin-top: 0; */
    }
    .about-me{
        margin-top: 10px;
    }
    .skills, .edu{
        margin-top: 1rem;
    }
    .about-me, .skills, .edu{
        width: 80%;
        /* box-sizing: border-box; */
        /* display: inline-block; */
        /* padding-top: -10px; */
        /* transform: scale(1.01, 1.01); */
    }
    .about-me h2{
        /* display: inline-block;
        padding-top: 0; */
        /* border: 2px solid red; */
    }
    .about-me:hover, .skills:hover, .edu:hover{
        box-shadow: 2px 2px 2px 10px wheat;
        border: 1px solid wheat;
        /* transform: scale(1.1, 1.1); */
        transform: scale(1.07, 1.07);
    }
}